{%extends "base.html"%}

{%block content%}
    <center>
        <script type="text/javascript" src="/static/js/validarBook.js"></script>
           <div class="title">Add a New Book</div>
             <div class="margin">
                <div id="signup">
                  <div id=content_page>
                     <div id=content_page_center>
                        <div class="styleTable">
                          <form id="formBook" action="{%url show_books%}" method="POST" accept-charset="utf-8">
                          {%csrf_token%}
                            <table cellpadding="5">
                             <tr>
                               <td class="labelRigth"><label class="labelText" for="title">Title</label></td>
                               <td class="field"><input class="text_field" type="text" name="title" id="title" value=""/></td>                  
                                <td class="status"></td> 
                            </tr>
                            <tr>
                              <td class="labelLeft"><label class="labelText" for="author">Author</label></td>
                              <td class="field"><input class="text_field" type="text"  name="author" id="author" value="" autocomplete="off" /></td>
                              <td class="status"></td>
                            </tr>
                            <tr>
                              <td class="labelLeft"><label class="labelText" for="summary">Summary</label></td>
                              <td class="field"><input class="text_field textarea-peq" type="text"  name="summary" id="summary" value="" autocomplete="off" /></td>
                              <td class="status"></td>
                            </tr>
                            <tr><td><input type="submit" name="Submit" value="Create"></input></td></tr> 
                        </table>
                    </form>
                  </div>
                </div>
             </div>
           </div>
        </div>
</center>
{%endblock%}
